.loader {
	cursor: wait;
	z-index: 1000;
	height: 100%;
	width: 100%;
	line-height: 100%;
	-moz-opacity: 0.70;
	opacity:.70;
	background: rgba(255,255,255,0.75);
	filter: alpha(opacity=70);
	text-align: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.loader img {
	position: absolute;
	top: 50%;
	vertical-align: middle;
	display: inline-block;
}
.red-background {
	background-color: rgb(229,184,183) !important;
}
.green-background {
	background-color: rgb(157, 229, 98) !important;
}
.blue-background {
	background-color: rgb(139, 214, 229) !important;
}
.inline-table {
	display: inline-block;
}
.unavailable-glyphicon {
	color: #c0c0c0;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.cursor-pointer {
    cursor: pointer;
}
.align-center {
    text-align: center;
}
.scroll-overflow {
    overflow: scroll !important;
}
.aui .modal {
	width: 600px !important;
	background-color: transparent !important;
}
.validation-messages {
	color: #b90000 !important;
}
.ng-invalid.ng-touched {
	border: 1px solid #b90000 !important;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 98, 84, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 98, 84, 0.6) !important;
}
button[disabled] {
	cursor: not-allowed !important;
}